<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Our Campus Codes</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="{{ url_for('static', filename='css/assets/css/bootstrap.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/assets/css/font-awesome.css') }}" rel="stylesheet">


<link href="{{ url_for('static', filename='css/assets/css/docs.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/bootstrap-social.css') }}" rel="stylesheet">


</head>
<body>
<div align='center'>
   <a class="btn btn-block btn-social btn-lg btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-lg']);"><i class="fa fa-github"></i>Sign in with GitHub</a>
</div>
</body>
</html>
