<div align="center" class="modal fade text-center" id="exampleModalz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 65%;">


<div class="panel panel-warning">
      <div class="panel-heading flipthis-highlight">School Ranking</div>
      <table class="table">
        <thead>
          <tr><th>University Name</th><th>Registered Users</th><th>Commits</th></tr>
        </thead>
        <tbody>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
          <tr><td>Data</td><td>Data</td><td>Data</td></tr>
        </tbody>
      </table>

  </div>

</div>
