<style>
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-radius: 15px !important;
}
.col-md-6 {
        width: 80% !important;
        margin: auto;
    }

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 15px !important;
    background-color: #d1d1d1 !important;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: none;
}

 #my_button{
          position:absolute;
          bottom:2%;
          color: #fff;
          background-color: #4d90fe;
          padding: 11px;

          border: 1px solid transparent;
          border-radius: 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;

          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          alignment-baseline:central;
          width:90%;
          left:5%;
          text-align:center;
          text-decoration:none;


          margin:0px auto;}


         #my_button:hover{
             background-color:#3B6EC2;}

</style>
<div class="col-md-6">
  <br><br>
  <div id="custom-search-input">
      <div class="input-group col-md-12" id="locationField">
          <input type="text" id="autocomplete" name="address" class="form-control input-lg flipthis-highlight" placeholder="Input US University">
          <span class="input-group-btn">
              <button class="btn btn-info btn-lg">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
              </span>


          </div>


      </div>

</div>
